<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDictionaryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/DictionaryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDictionaryService"
                contract="DictionaryService.IDictionaryService" name="BasicHttpBinding_IDictionaryService" />
        </client>
    </system.serviceModel>
</configuration>